<IfModule mod_expires.c>
    <FilesMatch "\.(css|js|html|xml|php|svg|shtml)$">
        ExpiresActive On
        ExpiresDefault "access plus 1 month"
    </FilesMatch>
    <FilesMatch "\.(png|jpg|jpeg|gif|tiff|bmp|ttf|otf)$">
        ExpiresActive On
        ExpiresDefault "access plus 1 year"
    </FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    SetEnvIfNoCase Request_URI \\.(?:gif|jpe?g|png|gif)$ no-gzip dont-vary
    Header append Vary User-Agent env=!dont-vary
</IfModule>

Options -Indexes
RewriteEngine On

Header set Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "X-REQUESTED-WITH"

RewriteRule ^css/common?$ css/common.css [NC,L]
RewriteRule ^css/fonts/Share?$ css/fonts/Share.css [NC,L]

RewriteRule ^css/elements/trl-circle-percentage?$ css/elements/trl-circle-percentage.css [NC,L]
RewriteRule ^css/elements/trl-loading?$ css/elements/trl-loading.css [NC,L]

RewriteRule ^img/group-pattern-photo?$ img/TRIAL/trl_pattern_group_photo_bg.svg [NC,L]
RewriteRule ^img/pattern-photo?$ img/TRIAL/trl_pattern_photo_bg.svg [NC,L]

RewriteRule ^javascript/T/elements/(.*)$ js/src/TRIAL/elements/$1 [NC,L]
RewriteRule ^javascript/T/(.*)$ js/src/TRIAL/$1 [NC,L]
RewriteRule ^javascript/T$ js/src/TRIAL/api.js [NC,L]
