/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/11/2015, 19:59:05
    Author     : Matheus Leonardo dos Santos Martins
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

trl-table {
    display: table;
}

trl-trow {
    display: table-row;
    width: 100%;
}

trl-tcolumn {
    display: table-cell;
}

nr-title-truncate, .title-truncate {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-center {
    position: relative;
    float: left;
    width: 100%;
    text-align: center
}

.not-display {
    display: none
}

.left {
    float: left
}

.right {
    float: right
}

.clear {
    clear: both
}

.full-width {
    width: 100%
}

.relative {
    position: relative
}

.background-opacity-black, .background-white, .window {
    position: fixed;
    display: none;
    width: 0;
    height: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.background-opacity-black {
    background-color: rgba(0, 0, 0, 0.5);
}

.background-white {
    background-color: #FFF;
}

#background-loading {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 254, 247, 1);
}

.background-loading {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 254, 247, 1);
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
}

.hover-float-effect:not(.current):hover {
    cursor: pointer;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.active-nofloat-effect:not(.current):active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.active-float-effect:not(.current):active {
    box-shadow: none;
}

.float-effect {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: 0.15s all ease-in-out
}

.float-effect:not(.current):active {
    box-shadow: none;
}

.float-effect:not(.current):hover {
    cursor: pointer;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.no-float-effect:not(.current):active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

a.current {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
}

.profile {
    position: relative;
    float: right;
    width: 100px;
    text-align: center;
    transition: 0.2s all ease-in-out;
    text-decoration: none
}

.profile:hover {
    background-color: rgba(230, 230, 230, 0.6);
}

.img-profile {
    position: relative;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#footer-developer, [owner], #footer-links {
    position: relative;
    clear: both;
    width: 100%;
}

#copyright, [copyright] {
    color: rgba(255, 255, 255, 0.6);
}

#footer-developer, [owner] {
    line-height: 310%;
    font-size: 16px;
    text-align: center;
    background: #222;
}

#footer-links {
    text-align: center;
    height: 100%;
    background: #333;
}

#footer-links a {
    display: inline;
    line-height: 40px;
    margin: 0 15px;
    color: #e2e2e2;
    text-decoration: none;
    transition: 0.1s all ease-out;
}

#footer-links a:hover {
    color: #fff;
    transition: 0.1s all ease-in;
}

#footer-developer > #logo-developer, [owner] > [logo] {
    position: relative;
    clear: both;
    top: 5px;
    opacity: 0.6;
    margin: 0 auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
}

[container-slideshow-items] {
    position: relative;
    float: left;
    width: 100%;
    z-index: 3;
}

[container-slideshow-items] .control {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

[container-slideshow-items] [slideshow-item] {
    position: relative;
    display: none;
    left: 0;
    float: left;
    width: 100%;
    height: 100%;
    z-index: 1;
}