/* 
    Created on : 05/10/2015, 23:29:44
    Author     : TRIAL<Matheus Leonardo dos Santos Martins>
*/

.pink-50 {
    color: #000;
    background-color: #FCE4EC;
}

.pink-100 {
    color: #000;
    background-color: #F8BBD0;
}

.pink-200 {
    color: #000;
    background-color: #F48FB1;
}

.pink-300 {
    color: #000;
    background-color: #F06292;
}

.pink-400 {
    color: #fff;
    background-color: #EC407A;
}

.pink-500 {
    color: #fff;
    background-color: #E91E63;
}

.pink-600 {
    color: #fff;
    background-color: #D81B60;
}

.pink-700 {
    color: #fff;
    background-color: #C2185B;
}

.pink-800 {
    color: #fff;
    background-color: #AD1457;
}

.pink-900 {
    color: #fff;
    background-color: #880E4F;
}

.pink-a100 {
    color: #000;
    background-color: #FF80AB;
}

.pink-a200 {
    color: #fff;
    background-color: #FF4081;
}

.pink-a400 {
    color: #fff;
    background-color: #F50057;
}

.pink-a700 {
    color: #fff;
    background-color: #C51162;
}