/* 
    Created on : 05/10/2015, 23:29:44
    Author     : TRIAL<Matheus Leonardo dos Santos Martins>
*/

.purple-50 {
    color: #000;
    background-color: #F3E5F5;
}

.purple-100 {
    color: #000;
    background-color: #E1BEE7;
}

.purple-200 {
    color: #000;
    background-color: #CE93D8;
}

.purple-300 {
    color: #000;
    background-color: #BA68C8;
}

.purple-400 {
    color: #fff;
    background-color: #AB47BC;
}

.purple-500 {
    color: #fff;
    background-color: #9C27B0;
}

.purple-600 {
    color: #fff;
    background-color: #8E24AA;
}

.purple-700 {
    color: #fff;
    background-color: #7B1FA2;
}

.purple-800 {
    color: #fff;
    background-color: #6A1B9A;
}

.purple-900 {
    color: #fff;
    background-color: #4A148C;
}

.purple-a100 {
    color: #000;
    background-color: #EA80FC;
}

.purple-a200 {
    color: #fff;
    background-color: #E040FB;
}

.purple-a400 {
    color: #fff;
    background-color: #D500F9;
}

.purple-a700 {
    color: #fff;
    background-color: #AA00FF;
}