/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/07/2016, 12:02:41
    Author     : Matheus Leonardo dos Santos Martins
*/

/*
    Criação da animação de loading versão CSS
    Criado em: 07/07/2016, 02:27:22

    Movido de /AnimacaoCSS/ para /no-redo/css/elements/ em 21/12/2017, 02:09
    Renomeado de loading.css para trl-loading.css em 21/12/2017, 02:12
*/

/*
    Keyframes Model:

    0% {

    }
    7.142857142857143% {

    }
    14.28571428571429% {

    }
    21.42857142857143% {

    }
    28.57142857142857% {

    }
    35.71428571428571% {

    }
    42.85714285714286% {

    }
    50% {

    }
    57.14285714285714% {

    }
    64.28571428571429% {

    }
    71.42857142857143% {

    }
    78.57142857142857% {

    }
    85.71428571428571% {

    }
    92.85714285714286% {

    }
    100% {

    }
*/
@keyframes loading {
    0%, 7.142857142857143% {
        transform: scale(1);
    }
    7.142857142857143% {
        transform: translateX(-25%);
    }
    21.42857142857143%, 35.71428571428571%, 50%, 64.28571428571429% {
        -webkit-tranform: translateX(-25%) translateY(50%) scale(2);
        -moz-transform: translateX(-25%) translateY(50%) scale(2);
        -ms-tranform: translateX(-25%) translateY(50%) scale(2);
        -o-transform: translateX(-25%) translateY(50%) scale(2);
        transform: translateX(-25%) translateY(50%) scale(2);
    }
    21.43%, 35.72%, 50.01%, 64.29%, 100% {
        -webkit-tranform: translateX(-25%) scale(1);
        -moz-transform: translateX(-25%) scale(1);
        -ms-tranform: translateX(-25%) scale(1);
        -o-transform: translateX(-25%) scale(1);
        transform: translateX(-25%) scale(1);
    }
    71.42857142857142%, 100% {
        transform: translateX(0);
    }
}

@keyframes loadingUpLeft {
    0% {
        transform: rotateY(0deg);
        z-index: 2;
    }
    7.142857142857143% {
        opacity: 1;
        transform: rotateY(180deg);
    }
    7.15% {
        opacity: 0;
    }
    14.28571428571429%, 64.28571428571429% {
        opacity: 0;
        transform: rotateY(180deg);
        z-index: 1;
    }
    64.29% {
        opacity: 1;
    }
    71.42857142857142%, 100% {
        transform: rotateY(0deg);
        z-index: 2;
    }
}

@keyframes loadingDownLeft {
    0% {
        transform: rotateY(0deg);
        z-index: 2;
    }
    7.142857142857143% {
        opacity: 1;
        transform: rotateY(180deg);
    }
    7.15% {
        opacity: 0;
    }
    14.28571428571429%, 64.28571428571429% {
        opacity: 0;
        transform: rotateY(180deg);
        z-index: 1;
    }
    64.29% {
        opacity: 1;
    }
    71.42857142857142%, 100% {
        opacity: 1;
        transform: rotateY(0deg);
        z-index: 2;
    }
}

@keyframes loadingDownRight {
    0%, 7.142857142857143% {
        transform: rotateX(0);
        z-index: 1;
    }
    7.142857142857143% {
        background: linear-gradient(135deg, rgba(19, 156, 131, 1) 50%, transparent 50%);
    }
    14.28571428571429% {
        opacity: 1;
        transform: rotateX(180deg);
    }
    14.28571428571430%, 21.42857142857143% {
        opacity: 0;
        transform: rotateX(0);
        z-index: 1;
    }
    21.42857142857144% {
        opacity: 1;
    }
    28.57142857142857% {
        opacity: 1;
        transform: rotateX(180deg);
    }
    28.57142857142858%, 35.71428571428571% {
        opacity: 0;
        transform: rotateX(0);
        z-index: 1;
    }
    35.71428571428572% {
        opacity: 1;
    }
    42.85714285714286% {
        opacity: 1;
        transform: rotateX(180deg);
    }
    42.85714285714287%, 50% {
        opacity: 0;
        transform: rotateX(0);
        z-index: 1;
    }
    50.00000000000001% {
        opacity: 1;
    }
    57.14285714285714% {
        opacity: 1;
        transform: rotateX(180deg);
    }
    57.14285714285715%, 64.28571428571429% {
        opacity: 0;
        transform: rotateX(0);
        z-index: 1;
    }
    64.28571428571430%, 100% {
        opacity: 1;
        transform: rotateX(0);
        z-index: 1;
    }
    71.42857142857143% {
        
    }
    78.57142857142857% {

    }
    85.71428571428571% {

    }
    92.85714285714286% {

    }
    100% {

    }
}

@keyframes loadingUpRightMidBottom {
    0%, 14.28571428571429% {
        transform: rotateZ(45deg);
    }
    7.142857142857143% {

    }
    14.28571428571430% {
        z-index: 6;
    }
    21.42857142857143% {
        transform: rotate3d(20, -20, 0, 180deg) rotateZ(45deg);
    }
    21.42857142857144%, 28.57142857142857% {
        transform: rotateZ(45deg);
    }
    35.71428571428571% {
        transform: rotate3d(20, -20, 0, 180deg) rotateZ(45deg);
    }
    35.71428571428572%, 42.85714285714286% {
        transform: rotateZ(45deg);
    }
    50% {
        transform: rotate3d(20, -20, 0, 180deg) rotateZ(45deg);
    }
    50.00000000000001%, 57.14285714285714% {
        transform: rotateZ(45deg);
    }
    64.28571428571429% {
        transform: rotate3d(20, -20, 0, 180deg) rotateZ(45deg);
    }
    64.28571428571430% {
        transform: rotateZ(45deg);
    }
    78.57142857142857% {

    }
    85.71428571428571% {

    }
    92.85714285714286% {

    }
    100% {
        transform: rotateZ(45deg);
    }
}

/* removed width and height on 28/06/2017, 21:56:09 */
[loading] {
    position: relative;
    float: left;
    animation: loading cubic-bezier(0, 0, 1, 1) 0s infinite normal;
    animation-duration: 8s;
}
[loading] [triangle] {
    position: absolute;
    width: 50%;
    height: 50%;
}

[loading] [container-triangles] {
    position: absolute;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: 1;
}

[loading] [triangle][up][left] {
    top: 0;
    left: 0;
    transform-origin: right;
    animation: loadingUpLeft cubic-bezier(0, 0, 1, 1) 0s infinite normal;
    animation-duration: 8s;
    z-index: 2;
}

[loading] [triangle][up][right][mid-top] {
    top: -10.3%;
    left: -45.75%;
    transform-origin: right;
    width: 70.72%;
    height: 70.72%;
    transform: rotateZ(-45deg);
    animation: loadingUpRightMidTop cubic-bezier(0, 0, 1, 1) 0s infinite normal;
    animation-duration: 8s;
    z-index: 1;
}

[loading] [triangle][up][right][mid-bottom] {
    bottom: -10.8%;
    right: 4.4%;
    transform-origin: left;
    width: 71.5%;
    height: 71.5%;
    transform: rotateZ(45deg);
    animation: loadingUpRightMidBottom cubic-bezier(0, 0, 1, 1) 0s infinite normal;
    animation-duration: 8s;
    z-index: 1;
}

[loading] [triangle][down][left] {
    bottom: 0;
    left: 0;
    transform-origin: right;
    animation: loadingDownLeft cubic-bezier(0, 0, 1, 1) 0s infinite normal;
    animation-duration: 8s;
    z-index: 2;
}

[loading] [triangle][down][right] {
    right: 0;
    bottom: 0;
    transform-origin: top;
    animation: loadingDownRight cubic-bezier(0, 0, 1, 1) 0s infinite normal;
    animation-duration: 8s;
    z-index: 1;
}

[triangle-color] {
    fill: #24c742;
}