/*
    No Redo₢ Repository.

    Font-face: Titillium Regular
*/
/* 
    Created on : 04/10/2015, 15:31:47
    Author     : TRIAL<Matheus Leonardo dos Santos Martins>
*/

@font-face {
    font-family: "Titillium Light";
    font-style: normal;
    src: local('TitilliumWeb-Light'), local('TitilliumWeb Light'), url(/no-redo/fonts/TitilliumWeb-Light.ttf) format('truetype'), url(/no-redo/fonts/TitilliumWeb-Light.woff) format('woff'), url(/no-redo/fonts/TitilliumWeb-Light.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}